@page "/CreateViolation"
@using AntroStop.BlazorUI.Components
@using Darnton.Blazor.Leaflet.LeafletMap

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

                <h1> Подача заявки</h1>

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="/Violations">Заявки</a></li>
                    <li class="breadcrumb-item active">Подача заявки</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<AuthorizeView>
    <Authorized Context="Auth">
        <section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Форма заявки</h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                         <button class="btn btn-warning" @onclick="ShowCurrentPosition">Определить моё местоположение</button>
                    </div>
                    <EditForm Model="violationsInfo" OnValidSubmit="Save">
                        
                        <div class="card-body">
                                    
                                    
                                    <LeafletMap Map="PositionMap" TileLayer="PositionTileLayer" />
                                    <DataAnnotationsValidator />
                                    <div class="form-group">
                                        @foreach(var claim in Auth.User.Claims)
                                        {
                                            if(claim.Type=="userID")
                                            {
                                                UserID = claim.Value;
                                            }
                                        }
                                        
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputCoordinates">Координаты <ValidationMessage For="@(() => violationsInfo.Coordinates)" /></label>
                                        <InputText @bind-Value="violationsInfo.Coordinates" type="text" class="form-control" id="exampleInputCoordinates" placeholder="47.000000;54.26525" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputTitle1">Заголовок <ValidationMessage For="@(() => violationsInfo.Title)" /></label>
                                        <InputText @bind-Value="violationsInfo.Title" type="text" class="form-control" id="exampleInputTitle1" placeholder="Сброс мусора" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleDescription">Описание <ValidationMessage For="@(()=>violationsInfo.Description)" /></label>
                                        <InputText @bind-Value="violationsInfo.Description" type="text" class="form-control" id="exampleDescription" placeholder="Выброс токсичных отходов" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleDescription">Файлы</label>
                                        <FilesUpload OnChange="AssignImageUrl" />
                                    </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Подать</button>
                        </div>
                    </EditForm>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
    </Authorized>
</AuthorizeView>
