<footer class="main-footer">
    <strong>Все права защищены &copy; 2022-2023 <a href="#">AntroStop</a>.</strong>
    
    <div class="float-right d-none d-sm-inline-block">
      <b>Версия</b> 0.1.0А
    </div>
  </footer>
