@inherits LayoutComponentBase

<div class="wrapper">
            

        <div class="page-wrap">
        <PageHeader/>

        <PageSidebar/>

        @Body

        <PageRightSidebar/>

        <PageChatPanel/>

        <PageFooter/>
                
        </div>
</div>